<% content_for(:sidebar) do %>
  <%= render 'sidebar' %>
<% end %>

<h1 class="page-title">Projects</h1>

<% if @projects.any? %>

  <% @projects.keys.sort.each_with_index do |letter, i| %>
    <div id="<%= letter %>" class="projects-container">
      <ul class="projects-list">
        <li class="letter"><%= letter %></li>
        <% @projects[letter].each do |project| %>
          <%= render project %>
        <% end %>
      </ul>
    </div>
  <% end %>

<% else %>
  <p class="no-results">
    You curently have no projects, <%= link_to "click here", new_podio_session_path %> to import them from Podio.
  </p>
<% end %>


<script id="project-info-template" type="text/x-handlebars-template">
  <div class="project-info closed">
    <div class="inner">
      <h1>{{title}}</h1>
      {{#if billable }} <p><span>Billable:</span> {{billable}}</p> {{/if}}
      {{#if client_company }} <p><span>Client Company:</span> {{client_company}}</p> {{/if}}
      {{#if contact }} <p><span>Contact:</span> {{contact}}</p> {{/if}}
      {{#if status }} <p><span>Project Status:</span> {{status}}</p> {{/if}}
      {{#if project_type }} <p><span>Project Type:</span> {{project_type}}</p> {{/if}}
      {{#if related_role }} <p><span>Related Role:</span> {{related_role}}</p> {{/if}}

      {{#if utilised }} <p><span>Project Utilised:</span> {{utilised}}</p> {{/if}}

      {{#if created_at }} <p><span>Created:</span> {{created_at}}</p> {{/if}}
      {{#if updated_at }} <p><span>Last Updated:</span> {{updated_at}}</p> {{/if}}

      <a href="#" class="close">close</a>
    </div>
  </div>
</script>
