<div class="form-popout">
  <div class="arrow"></div>
  <%= simple_form_for @time_entry, remote:true, :html => { :class => ""} do |f| %>
    <%= f.input :project_id,
                label: false,
                collection: Project.client_group,
                label_method: :name,
                as: :grouped_select,
                group_method: :projects,
                group_label_method: :name,
                prompt: "Choose a project...",
                wrapper: false,
                input_html: {
                  class: "chosen"
                } %>
    <%= f.input :comment, as: :text, label: false, placeholder: "Comments", wrapper: false %>

    <%= link_to "delete", time_entry_path(@time_entry), remote: true, method: :delete, class: "close pull-left" %>
    <%= f.button :submit, "done", class: 'save pull-right' %>
  <% end %>
</div>
