<%= content_tag_for :div, time_entry, data: { id: time_entry.id, datetime: "#{time_entry.entry_datetime.strftime("%Y/%m/%d %H:%M:%S") }", duration: time_entry.duration }, class: "entry #{'with-project' if time_entry.project}", style: "height: #{time_entry.duration * 10}px;" do %>
  <div class="inner">
    <%= link_to "", edit_time_entry_path(time_entry), remote:true, class: "edit-link" %>

    <% if time_entry.duration > 1 %>
      <%= link_to "x", time_entry_path(time_entry), remote: true, method: :delete, class: "remove" %>
      <% minutes_added = time_entry.duration * 15 %>
      <p class="time-text">
        <span class="from"><%= time_entry.entry_datetime.strftime("%H:%M") %></span> -
        <span class="to"><%= (time_entry.entry_datetime + minutes_added.minutes).strftime("%H:%M") %></span>
        <span class="duration">(<%= (time_entry.duration * 0.25).to_s.gsub('.0', '') %>h)</span>
      </p>

      <%= project_name_for_time_entry time_entry %>
      <%= comments_for_time_entry time_entry %>
    <% end %>
  </div>
<% end %>
