<%= retro "it'd be great if the cells for the main hours of the work day stuck out a little, maybe a soft grey background?" %>

<header class="timetable-header">
  <h1><%= date_range_text %></h1>
</header>

<div class="container timetable-container">
  <div class="headers">
    <% week_range do |day| %>
      <div class="title">
        <h4><%= day.strftime("%e %A") %></h4>
      </div>
    <% end %>
  </div>

  <div class="timetable">
    <div class="times">
      <% (1..24).each do |hour| %>
        <div class="time"><%= hour_text(hour) %></div>
        <div class="time"><%= hour_text(hour + 0.5) %></div>
      <% end %>
    </div>

    <% week_range.each do |day| %>
      <div class="day">
        <% (1..24).each do |hour| %>
          <div class="half_hour" data-datetime="<%= hour_time(day, hour) %>" data-duration="1">
            <% entries(day, hour).each do |time_entry| %>
              <%= render time_entry %>
            <% end %>
          </div>
          <div class="half_hour" data-datetime="<%= hour_time(day, hour + 0.5) %>" data-duration="1">
            <% entries(day, hour + 0.5).each do |time_entry| %>
              <%= render time_entry %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="bottom-border"></div>

</div>
