<div class="tab-header">
  <h4 class="<%= 'active' if action?("users") %>">
    <%= link_to "Users", users_reports_path(params: filtered_params) %>
  </h4>
  <h4 class="<%= 'active' if action?("projects") %>">
    <%= link_to "Projects", projects_reports_path(params: filtered_params) %>
  </h4>
  <h4 class="<%= 'active' if action?("detail") %>">
    <%= link_to "Detailed Report", detail_reports_path(params: filtered_params) %>
  </h4>
</div>
