<%= render 'layouts/date_header' %>
<%= render 'tab_header' %>
<div class="tab-body">
  <div class="inner">
    <div class="tab-body-head clearfix">
      <h2 class="body-title pull-left">
        <%= link_to "Download #{'filtered' if using_filter?} CSV", action: params[:action], params: filtered_params, format: :csv %>
      </h2>
      <%= render 'filter_header' %>
    </div>

    <table class="table tablesorter">
      <thead>
        <tr>
          <% @report.headings.each do |heading| %>
            <th class="header"><%= heading %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @report.rows.each do |row| %>
          <tr>
            <% row.each do |row_column| %>
              <td><%= row_column %></td>
            <% end %>
          </tr>
        <% end %>
        <% if @report.rows.blank? %>
          <tr><td class="no-results" colspan="8">No Hours Recorded</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
