<header class="date-header">
  <h1><%= date_range_text %></h1>
  <div class="btn-group pull-right">
    <!-- Want to put these into a helper but gave up -->
    <%= toggle_link(:utilised) %>
    <%= toggle_link(:billable) %>
    <%= link_to "current week", url_with_param(:date, Date.today), class: "btn #{'disabled' if @date == Date.today}" %>
    <%= link_to "<", url_with_param(:date, @date.prev_week), class: 'btn' %>
    <%= link_to ">", url_with_param(:date, @date.next_week), class: 'btn' %>
  </div>
</header>

<%= link_to "Detailed report", detail_reports_path %>


<div class="tab-header">
  <%= link_to reports_path(collection: "users", date: "#{params[:date].if_present}"), class: "tab-link #{'active' unless params[:collection] == "projects"}" do %>
    <h4>Users</h4>
  <% end %>
  <%= link_to reports_path(collection: "projects", date: "#{params[:date].if_present}"), class: "tab-link last #{'active' unless params[:collection] == "users" || params[:collection].blank?}" do %>
    <h4>Projects</h4>
  <% end %>
  <div class="top-line"></div>
</div>

<div class="tab-body">
  <div class="inner">
    <ul class="grey-list">
      <%= render partial: "report_item", collection: @collection %>
      <% if @collection.blank? %>
        <li class="grey-block no-results">No Hours Recorded</li>
      <% end %>
    </ul>
  </div>
</div>
