<header class="date-header">
  <h1><%= @report.object.name %></h1>
  <div class="btn-group pull-right">
    <h4 class=""><%= date_range_text %></h4>
    <!-- Want to put these into a helper but gave up -->
    <%= link_to "current week", report_path(@report.object, Date.today), class: "btn #{'disabled' if @date == Date.today}" %>
    <%= link_to "<", report_path(@report.object, @date.prev_week()), class: 'btn' %>
    <%= link_to ">", report_path(@report.object, @date.next_week()), class: 'btn' %>
  </div>
</header>

<% total_time = 0 %>

<table class="table two-col tablesorter">
  <thead>
    <tr>
      <th class="header">Project</th>
      <th class="header">Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @report.times.each do |key, time| %>
      <tr>
        <td><%= key %></td>
        <td><%= hours time  %></td>
        <% total_time += time %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">Total: <%= hours total_time %></td>
    </tr>
  </tfoot>
</table>
