<header class="page-header-with-link">
<h1><%= @report.object.name %></h1>
	<%= link_to date_range_text, "#" %>
</header>
<% total_time = 0 %>
<% @report.times.each do |key, time| %>
	<li><%= key %> </br><%= time %> hours <% total_time += time %></li>
<% end %>

<br/><br/><%= total_time %> hours total
