<% options = options || {} %>
<% title = options[:title] || date_range_text %>

<header class="date-header">
  <h1><%= title %></h1>
  <div class="btn-group pull-right">
    <% if options[:title].present? %>
      <h4 class=""><%= date_range_text %></h4>
    <% end %>
    <%= link_to "current week", url_with_param(:date, nil), class: "btn #{'disabled' if @date == Date.today}" %>
    <%= link_to "<", url_with_param(:date, @date.prev_week), class: 'btn' %>
    <%= link_to ">", url_with_param(:date, @date.next_week), class: 'btn' %>
  </div>
</header>
