<% options = options || {} %>
<% title = options[:title] || date_range_text %>

<h1 class="main-title"><%= title %></h1>

<div class="btn-group time-controls">
  <%#= link_to "current #{duration_param}", url_with_param(:date, nil), class: "btn #{'disabled' if @date == Date.today}" %>
  <%= link_to "<", url_with_param(:date, @date.send("prev_#{duration_param}")), class: 'btn' %>
  <%= link_to "current week", url_with_param(:date, nil), class: "btn #{'active' if @date == Date.today}" %>
  <%= link_to "Day", url_with_param(:duration, :day), class:'btn' %>
  <%= link_to "Week", url_with_param(:duration, :week), class:'btn' %>
  <%#= link_to "Week", url_with_param(:duration, :week), class:'btn' %>

  <% if params[:controller] == "reports" %>
    <%= link_to "Month", url_with_param(:duration, :month), class:'btn' %>
    <%= link_to "Year", url_with_param(:duration, :year), class:'btn' %>
  <% end %>

  <%= link_to ">", url_with_param(:date, @date.send("next_#{duration_param}")), class: 'btn' %>
</div>
